/* resources/css/app.css (Tailwind v3) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base : je fixe la police par défaut */
@layer base {
  html { font-family: 'Barlow', ui-sans-serif, system-ui, sans-serif; }
}

/* Helpers */
@layer utilities {
  .font-display { font-family: 'Bellefair', serif; }
  .font-condensed { font-family: 'Barlow Condensed','Barlow', ui-sans-serif, system-ui, sans-serif; }
}
